body{
  font-family:'Roboto',sans-serif;
  color: #434455;
  background-color:#ffffff;
}
ul,ol{
  list-style-type: none;
}
a {
  text-decoration: none;
}
button{
cursor: pointer;
}
.page-header{
}
.page-navigation{
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
text-decoration: none;
}
.logotype{
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS, #4D5AE5);
}
.logotype-span{
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.menu:hover{
color: #404bbf;
}
.menu:focus{
color: #404bbf;
}
.menu-item:hover{
color: #404bbf;
}
.menu-item:focus{
color: #404bbf;
}
.menu-link{
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.menu-link:hover{
color: #404bbf;
}
.menu-link:focus{
color: #404bbf;
}
.hedear-addres{
font-style: normal;
}
.menu-contact{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
.menu-contact:hover,
.menu-contact:focus{
color: #404bbf;
}
.hero-image{
border: 1px solid #000;
background-color: #2e2f42;
}
.main-head{
text-align: center;
width: 496px;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
color: var(--WHITE, #ffffff);
}
.button-action{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
border: 1px solid #000;
background: var(--IRIS, #4D5AE5);
}
.button-action:hover,
.button-action:focus{
background-color: #404BBF;
}
.benefits{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
width: 1128px;
height: 104px;
background: #ffffff;
}
.made-benefits{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.made-menu{
font-weight: 500;
font-size: 20;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.made-menu-item{
font-weight: 500;
font-size: 20;
line-height: 1.2;
letter-spacing: 0.02em;
}
.made-menu-item-name{
width: 264px;
font-weight: 500;
font-size: 20;
line-height: 1.2;
letter-spacing: 0.02em;
}
.made-menu-item-text{
width: 264px;
font-family: Roboto,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
.our-team{
font-weight: 500;
font-size: 20;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
width: 1440px;
height: 732px;
flex-shrink: 0;
border: 1px solid #000;
background-color:#f4f4fd;
}
.our-team-title{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.our-team-name{
background-color: #ffffff;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.our-team-list{
background-color: #ffffff; 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.name{
text-align: center;
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.introduce{
color: var(--SLATE, #434455);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}
.section-portfolio{
line-height: 1.11;
background-color: #f4f4fd;
}
.section-portfolio-title{
background-color: #ffffff;
font-size: 36px;
line-height: 1.11;
}
.section-title{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
background-color: #f4f4fd;
}

.list-portfolio{
width: 360px;
height: 420px;
border: 1px solid var(--CORNFLOWER, #E7E9FC);
background-color:#ffffff;
}
.portfolio-name{
font-family: Roboto, sans-serif;
font-size:20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.portfolio-type{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
/*Footer*/
.end{
width: 1440px;
height: 312px;
background: var(--NAVY-BLUE, #2E2F42);
}
.text-end{
width: 264px;
line-height: 1.17;
font-family: Roboto,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
color: #f4f4fd;
color: var(--CLOUD, #F4F4FD);
}
.logotype-span-foot{
color: #f4f4fd;
}