*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family:'Roboto',sans-serif;
  color: #434455;
  background-color:#ffffff;
}
ul,ol{
  list-style-type: none;
}
a {
  text-decoration: none;
}
button{
cursor: pointer;
}
.page-header{
  border-bottom: 1px; solid #E7E9FC;
}
.page-navigation{
  display: flex;
  align-items: center;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
background: var(--WHITE, i#FFF);
text-decoration: none;
}
.logotype{
  margin-right: 76px;
  width: 44px;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--IRIS, #4D5AE5);
}
.logotype-span{
  width: 71px;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.menu{
  display: flex;
  gap: 40px;
}
.menu:hover{
color: #404bbf;
}
.menu:focus{
color: #404bbf;
}
.menu-item{
  gap: 40px;       /*!!!!!!!!!!!!none-last!!!!!*/

}
.menu-item:hover{
color: #404bbf;
}
.menu-item:focus{
color: #404bbf;
}

.menu-link{
  padding-top: 24px;
  padding-bottom: 24px;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.menu-link:hover{
color: #404bbf;
}
.menu-link:focus{
color: #404bbf;
}
.hedear-addres{
  display: flex;
font-style: normal;
gap: 40px;
}
.list{
  display: flex;
gap: 40px; /*!!!!!!!!!!!!none-last!!!!!*/
}
.menu-contact{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
.menu-contact:hover,
.menu-contact:focus{
color: #404bbf;
}

/*-----Hero Section--*/
.hero-image{
border: 1px solid #000;
background-color: #2e2f42;
width: 1440px;
height: 600px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container{
  display: flex;}

.pageheader{
  min-width: 100vh;
  display: flex;
  width: 1158px;
  height: 72px;
  justify-content: center;
  align-items: center;
  margin: 0%, auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-container{
  min-width: 100vh;
  max-width: 1158; 
  padding-left:15px;  
  padding-right:15px; 
  margin-left:auto;  
  margin-right:auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.our-benefits{
  min-width: 100vh;
width: 1128px;
height: 104px;
display: flex;
width: 264px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}
.ourteam{
  min-width: 100vh;
  width: 1440px;
height: 732px;
flex-shrink: 0;
border: 1px solid #000;
background: var(--CLOUD, #F4F4FD);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sectionportfolio{
  min-width: 100vh;
  display: inline-flex;
flex-direction: column;
align-items: center;
gap: 96px;
background: #FFF;
}
.footer-end{
  min-width: 100vh;
  width: 1440px;
height: 312px;
flex-shrink: 0;
background: var(--NAVY-BLUE, #2E2F42);
}


.main-head{
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
color: var(--WHITE, #ffffff);
}
.button-action{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
border: 1px solid #000;
background: var(--IRIS, #4D5AE5);
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
border: 1px solid #000;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.button-action:hover,
.button-action:focus{
background-color: #404BBF;
}
/*------Our Benefits-----*/
.benefits{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
background: #ffffff;
}
.made-benefits{
font-weight: 500;
font-size:20px;
line-height:1.2;
letter-spacing:0.02em;
color: #2e2f42;
}
.made-menu{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.made-menu-item{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.made-menu-item-name{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.made-menu-item-text{
font-family: Roboto,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.50; 
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
.our-team{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
flex-shrink: 0;
border: 1px solid #000;
background-color:#f4f4fd;
}
.our-team-title{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.our-team-name{
background-color: #ffffff;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.our-team-list{
  display: block;
background-color: #ffffff; 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}
.name{
text-align: center;
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.introduce{
color: var(--SLATE, #434455);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}
.section-portfolio{
line-height: 1.11;
background-color: #f4f4fd;
}
.section-portfolio-title{
background-color: #ffffff;
font-size: 36px;
line-height: 1.11;
}
.section-title{
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
background-color: #f4f4fd;
}

.list-portfolio{
  display: block;
border: 1px solid var(--CORNFLOWER, #E7E9FC);
background-color:#ffffff;
}
.portfolio-name{
font-family: Roboto, sans-serif;
font-size:20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}
.portfolio-type{
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}
/*Footer*/
.end{
  padding-top: 100px;
  padding-bottom: 100px;
background: var(--NAVY-BLUE, #2E2F42);
}
.text-end{
line-height: 1.17;
font-family: Roboto,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50; /* 150% */
letter-spacing: 0.02em;
color: #f4f4fd;
color: var(--CLOUD, #F4F4FD);
}
.logotype-span-foot{
  display: inline-block;
  margin-bottom: 16px;
color: #f4f4fd;
}